html {
    position: "relative";
    min-height: 100%;
    background-image: url("./Assets/Images/BackgroundImages/3.jpg");
}

/*CUSTOM STYLING TO BOOTSTRAP*/
.navbar {
    background-color: #003057 !important;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #003057;
}

.btn {
    background-color: #003057;
    color: white;
    width: 600px;
    padding: 20px;
    height: 40px;
    border: 2px solid white;
}

.btn:hover {
    background-color: #005AA3;
    color: white !important;
}

/*CONTAINER ENCAPSULATING MAIN CONTENT*/
.container-fluid {
    background-size: cover;
    height: 100%;
    background-position: center;
}

/*FOOTER*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #003057;
}

.footer i {
    margin: 3px auto;
}

.footer i:hover {
    margin: 3px 3px;
    color: #005AA3;
}

/*HOME CONTENT*/
.home {
    background-image: url("./Assets/Images/BackgroundImages/HomePageBackground.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
}

.home-content {
    background-color: #003057;
    color: white;
    margin: 0px auto 10px;
    padding: 10px;
    height: 70%;
    width: 40%;
}

.contact {
    margin: 0 auto;
}

.contact .card-header {
    background-color: #003057;
    color: white;
}

.contact i {
    font-size: "20px";
    color: #003057;
    margin: auto;
}

/*RESUME CONTENT*/
.resume {
    margin: auto;
    background-image: url("./Assets/Images/BackgroundImages/ResumePageBackground.jpg");
    text-align: center;
}

.resume img {
    padding: 20px;
}

/*PROJECTS CONTENT*/
.projects {
    background-image: url("./Assets/Images/BackgroundImages/ProjectsPageBackground.jpg");
    text-align: center;
}
.projects h1 {
    color: white;
}

.projects .card {
    margin: 20px 15%;
    border: 4px solid #050763;
    background-color: #003057;
    color: white;
}

/*ABOUT ME CONTENT*/
.about {
    background-image: url("./Assets/Images/BackgroundImages/AboutMeBackground.jpg");
    text-align: center;
}

.about h1 {
    color: white;
}

.about-me-text {
    color: white;
    background-color: #003057;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
}

.name {
    border: 8px solid;
    border-radius: 36px;
    padding: 6px 12px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

