html {
    min-height: 100%;
    background-image: url("./Assets/Images/BackgroundImages/FillerBackground.jpg");

}

::-webkit-scrollbar {
    width: 20px;          
 }

::-webkit-scrollbar-thumb {   
    border-radius: 30px;
    background-color: #005AA3;
    box-shadow: inset 2px 2px 2px #333e46, inset -2px -2px 2px #003057;
}

::-webkit-scrollbar-track {     
    background-color: #fff;
  }

   
/*CUSTOM STYLING TO BOOTSTRAP*/
.navbar {
    background-color: #003057 !important;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #003057;
}

.btn {
    background-color: #003057;
    color: white;
    width: 600px;
    padding: 20px;
    height: 40px;
    border: 2px solid white;
}

.btn:hover {
    background-color: #005AA3;
    color: white !important;
}

/*CONTAINER ENCAPSULATING MAIN CONTENT*/
.container-fluid {
    background-size: cover;
    height: 100%;
    background-position: center;
    padding: 0;
}

/*HEADER*/
.name {
    border: 8px solid;
    border-radius: 36px;
    padding: 6px 12px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    transition: border-radius 1s, border 1.5s, background-color 1.5s;
}

.name:hover {
    border-radius: 10px;
    border: 4px solid #003057;
    background-color: #005AA3;
    transition: border-radius 1s, border 1.5s, background-color 1.5s;
}

/*FOOTER*/
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #003057;
    border-top: 2px solid #333e46;
}

.footer i {
    margin: 3px auto;
}

.footer i:hover {
    margin: 3px 3px;
    color: #005AA3;
}

/*HOME CONTENT*/
.home {
    background-size: cover;
    background-color: #333e46;
    height: 100%;
    text-align: center;
}

.home-content {
    background-color: #333e46;
    background-image: url("./Assets/Images/BackgroundImages/HomePageBackground.jpg");
    color: white;
    margin: 0px auto 10px;
    padding: 10px;
    height: 70%;
    width: 100%;
}

.home-content p {
    margin: 10px 15%;
    padding: 20px;
    background-color: #003057
}

/*HOME SKILLS SECTION*/
.tech-skills {
    color: #050763;
    width: 45%;
    margin-left: 3.5%;
    float: left;
}

.tech-skills ul {
    overflow-y: scroll;
    height: 200px;
}

.soft-skills{
    width: 45%;
    margin-right: 3.5%;
    float: right;
    color: #003057;
}

.soft-skills ul {
    overflow-y: scroll;
    height: 200px;
}

/*HOME CONTACT CARD*/
.contact {
    margin: 325px auto 15px;
}

.contact .card-header {
    background-color: #003057;
    color: white;
}

.contact i {
    font-size: "20px";
    color: #003057;
    margin: auto;
}

/*RESUME CONTENT*/
.resume {
    margin: auto;
    background-image: url("./Assets/Images/BackgroundImages/ResumePageBackground.jpg");
    text-align: center;
}

.resume img {
    padding: 20px;
}

.resume button {
    padding: 0px;
}

/*PROJECTS CONTENT*/
.projects {
    background-image: url("./Assets/Images/BackgroundImages/ProjectsPageBackground.jpg");
    text-align: center;
}
.projects h1 {
    color: white;
}

.projects .card {
    margin: 20px 15%;
    border: 4px solid #050763;
    background-color: #003057;
    color: white;
}

.projects .card-text {
    max-height: 250px;
    overflow-y: auto;
}

/*ABOUT ME CONTENT*/
.about {
    background-image: url("./Assets/Images/BackgroundImages/AboutMeBackground.jpg");
    text-align: center;
}

.about h1 {
    color: white;
}

.about-me-text {
    max-height: 400px;
    overflow-y: auto;
    color: white;
    background-color: #003057;
    margin: 20px;
    padding: 20px;
    border: 2px solid white;
}



