html {
    position: "relative";
    min-height: 100%
}

/*Custom Styling to Boostrap*/
.navbar {
    background-color: #003057 !important;
    color: white;
    margin-bottom: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #003057;
}

/*Container encapsulating main content*/
.container-fluid {
    background-image: url("./Assets/Images/backgroundImage.jpg");
    background-size: cover;
}

/*Home Content*/
.home {
    background-color: #003057;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.home-content {
    background-color: #003057;
    color: white;
    height: 70%;
    width: 66%;
}

/*Resume Content*/
.resume {
    margin: 0 auto;
}


/*Projects Content*/


/*About Me Content*/





