html {
    position: "relative";
    min-height: 100%
}

/*Custom Styling to Boostrap*/
.navbar {
    background-color: #003057 !important;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: #003057;
}

.btn {
    background-color: #003057;
    color: white;
    justify-content: baseline;
    width: 600px;
    padding: 20px;
    height: 40px;
    border: 2px solid white;
}

.btn:hover {
    background-color: #005AA3;
    color: white !important;
}

/*Container encapsulating main content*/
.container-fluid {
    background-image: url("./Assets/Images/backgroundImage.jpg");
    background-size: cover;
}

/*Home Content*/
.home {
    background-color: #003057;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.home-content {
    background-color: #003057;
    margin: 0 auto;
    justify-content: baseline;
    color: white;
    height: 70%;
    width: 66%;
}

/*Resume Content*/
.resume {
    margin: 0 auto;
}

.resume img {
    padding: 20px;
}

.resume a {
    color: white;
}

/*Projects Content*/


/*About Me Content*/





